<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BSI</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Code+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "static/base.css">
    <link rel= "stylesheet" type= "text/css" href= "static/index.css">
</head>

<body>

<header>
    <img src="static/logo-unirio.png" alt="Logo da UNIRIO">
</header>

<div class="container">
    <div class="alert">
        <strong style="color: #a00000; font-size: 18px;">Escolha o Currículo</strong>
    </div>
    <select name="curriculo" required>
        <option value="2008">CURRÍCULO 2008 (ANTIGO)</option>
        <option value="2023">CURRÍCULO 2023.1 (ATUAL)</option>
    </select>
    <h1 style="font-size: 24px; color: black;">Upload do Histórico Escolar</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept="application/pdf" required>

        <label for="tipo_historico">Selecione o tipo de histórico:</label>
            <select id="tipo_historico" name="tipo_historico">
                <option value="cr_aprovados">Histórico Escolar CR - Aprovados</option>
                <option value="integralizacao">Histórico Integralização</option>
            </select>

        <button type="submit">Enviar</button>
    </form>
</div>

</body>
</html>
